model_name: yolo11n
input_size: 640
classes:
  - person
  - bicycle
  - car
  - motorcycle
  - airplane
  - bus
  - train
  - truck
  - boat
  - traffic light
  - fire hydrant
  - stop sign
  - parking meter
  - bench
  - bird
  - cat
  - dog
  - horse
  - sheep
  - cow
  - elephant
  - bear
  - zebra
  - giraffe
  - backpack
  - umbrella
  - handbag
  - tie
  - suitcase
  - frisbee
  - skis
  - snowboard
  - sports ball
  - kite
  - baseball bat
  - baseball glove
  - skateboard
  - surfboard
  - tennis racket
  - bottle
  - wine glass
  - cup
  - fork
  - knife
  - spoon
  - bowl
  - banana
  - apple
  - sandwich
  - orange
  - broccoli
  - carrot
  - hot dog
  - pizza
  - donut
  - cake
  - chair
  - couch
  - potted plant
  - bed
  - dining table
  - toilet
  - tv
  - laptop
  - mouse
  - remote
  - keyboard
  - cell phone
  - microwave
  - oven
  - toaster
  - sink
  - refrigerator
  - book
  - clock
  - vase
  - scissors
  - teddy bear
  - hair drier
  - toothbrush
confidence_threshold: 0.25
nms_iou_threshold: 0.45
paths:
  weights: ./models/yolo11n.pt
  onnx: ./models/yolo11n.onnx
  ncnn_param: ./models/yolo11n.param
  ncnn_bin: ./models/yolo11n.bin
  test_images: ../test_data/images
  ref_ultralytics: ../test_data/ref_ultralytics.json
  ref_onnx: ../test_data/ref_onnx.json
  compare_report: ../test_data/compare_report.json
